#NavbarMainDiv{
    width: 100%;
    margin: 0%;
    padding: 10px 0;
    border-bottom: .1mm solid #62646a;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
}
.NavbarDiv{
    margin: auto;
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: space-between;

}
.navbarMenuDiv{
    margin: auto 0;
    display: none;
}
.navbarBrandLogoDiv{
    width: 10%;
    margin: auto 0;
    .navbarBrandLogo{
        margin: auto;
        width: 80px;
    }
}
.navbarSearchDiv{
    width: 25%;
    display: flex;
    /* background-color: #1dbf73; */
    .navbarSearchInp{
        margin: auto;
        width: 90%;
        height: 37px;
        border: 1px solid black;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        outline: none;
        font-size: 16px;
    }
    .navbarSearchBtn{
        width: 50px;
        height: 37px;
        padding: none;
        margin: auto 2px auto auto;
        background-color: #222325;
        border: 3px solid #222325;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transition: all .3s ease-in-out;
    }
    .navbarSearchBtn:hover{
        cursor: pointer;
        background-color: #424242;
        border: 3px solid #424242;
    }
    .navbarSearchBtnIcon{
        font-size: 25px;
        font-weight: 900;
        /* background-color: #1dbf73; */
        margin: auto;
        color: white;
    }
}
.navbarTabsDiv{
    width: 60%;
    margin: auto 0;
    display: flex;
    justify-content: space-around;
    .navbarLi{
        color: #62646a;
        border-radius: 5px;
        border: 2px solid transparent;
        padding: 6px 0px;
        font-size: 1rem;
        font-weight: 700;
        vertical-align: middle;
        display: flex;
    }
    .navbarLi:hover{
        cursor: pointer;
        color: rgb(29, 191, 115);
    }
    .navbarLiIcon{
        color: #62646a;
        font-size: 1.5rem;
        font-weight: 700;
        vertical-align: middle;
    }
    .navbarLi:nth-child(1),.navbarLi:nth-child(2){
        padding: 6px 16px;
    }
    .navbarLi:nth-child(1):hover,.navbarLi:nth-child(2):hover{
        color: #62646a;
        cursor: pointer;
        background-color: #dfdfdf74;        
    }
    .navbarLi:nth-child(6){
        color: #1dbf73;
        border: 1px solid#1dbf73;
        padding: 6px 16px;
    }
    .navbarLi:nth-child(6):hover{
        cursor: pointer;
        background-color: #1dbf73;
        color: white;
        padding: 6px 16px;
    }
}
@media  all and (min-width:600px) and (max-width:900px) {
    .navbarLi:nth-child(1),
    .navbarLi:nth-child(2),
    .navbarLi:nth-child(3),
    .navbarLi:nth-child(4){
        display: none;
    }
    .navbarBrandLogoDiv{
        width: 15%;
    }
    .navbarMenuDiv{
        margin: auto 0;
        display: block;
    }
    .navbarMenuIcon{
        font-size: 22px;
    }
    .navbarSearchDiv{
        width: 50%;
    }
    .navbarTabsDiv{
        width: 25%;
    }
}
@media  all and (max-width:600px) {
    .navbarLi:nth-child(1),
    .navbarLi:nth-child(2),
    .navbarLi:nth-child(3),
    .navbarLi:nth-child(4),
    .navbarLi:nth-child(5){
        display: none;
    }
    .navbarSearchDiv{
        display: none;
    }
    .navbarBrandLogoDiv{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .navbarMenuDiv{
        margin: auto 0;
        display: block;
    }
    .navbarMenuBtn{
        color: #1dbf73;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #1dbf73;
        width: 40px;
        height: 40px;
        transition: all .3 ease-in-out;
    }
    .navbarMenuBtn:hover{
        cursor: pointer;
        color: white;
        background-color: #1dbf73;
    }
    .navbarMenuIcon{
        font-size: 22px;
    }
    .navbarTabsDiv{
        width: 20%;
    }
}